---
# Project information
site_name: {{ project_name | title }}
site_url: {{ mkdocs_site_url }}
site_description: {{ description }}

# Repository
repo_name: {{ project_name }}
repo_url: {{ repo_url }}

# Theme
theme:
  name: {{ mkdocs_theme }}

# Plugins
plugins:
  - search
