[project]
name = "{{ project_name }}"
version = "0.0.0"
description = "{{ description }}"
authors = [
    { name = "{{ author_name }}", email = "{{ author_email }}" },
]
maintainers = [
    { name = "{{ author_name }}", email = "{{ author_email }}" },
]
readme = "README.md"

[tool.poetry]
packages = [
    { include = "{{ package_name }}", from = "src" },
]

[tool.poetry.dependencies]
python = "^3.9"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
