{% if license == "Apache-2.0" %}{{ license_apache2 }}{%- endif -%}
{% if license == "BSD-3-Clause" %}{{ license_bsd3_clause }}{%- endif -%}
{% if license == "GPL-3.0" %}{{ license_gpl3 }}{%- endif -%}
{% if license == "MIT" %}{{ license_mit }}{%- endif -%}
