{
	"name": "{{ project_name }}",
	"build": {
    "context": ".",
    "dockerfile": "Dockerfile"
  },
	"customizations": {
		"vscode": {
			"settings": {},
			"extensions": ["editorconfig.editorconfig"]
		}
	}
}
